.scrollableList {
  height: calc(100vh - 230px);
  overflow: auto;
  border: 1px solid rgba(140, 140, 140, 0.35);
  border-top: none;
  background: white;

  :global .infinite-scroll-component__outerdiv {
    padding: 0 16px;
  }
}

.listHeader {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  background: white;
  border: 1px solid rgba(140, 140, 140, 0.35);
  padding: 8px 16px;

  .sortBy {
    flex: 0 0 120px;

    margin-left: 8px;
  }
}

.universityDescription, .universityWebsite {
  display: flex;
  align-items: center;
  svg {
    margin-right: 4px;
  }
}
