.siteHeader {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.accountMenu {
  color: white;
  user-select: none;

  :global .ant-avatar {
    margin-right: 8px;
  }

  :global .ant-dropdown-trigger {
    height: 100%;
    display: block;
  }
  a {
    color: white;
  }
}
