@import "styles/mixins";

.scrollableList {
  height: calc(100vh - 200px);
  padding: 0 16px;
  overflow: auto;
  border: 1px solid rgba(140, 140, 140, 0.35);
  border-top: none;
  background: white;

  :global .ant-list-item {
    position: relative;
  }
}

.universityDescription, .universityWebsite {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  svg {
    margin-right: 4px;
  }
}

.universityDescription {
  margin-right: 12px;
}
