@import "styles/mixins";

.siteLayout {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 24px;
}

.siteLayoutBackground {
  padding-top: 24px;
  min-height: 380px;
}

.registrationForm {
  display: flex;
  flex-direction: column;
  :global .ant-btn {
    margin-right: 8px;
  }

  @include mobile {
    :global .ant-btn {
      width: 100%;
      margin-right: 0;
    }
  }
}

.logo {
  margin: 0 auto 48px;
}
