.siteLayout {
  padding: 0 50px;
  margin-top: 64px;
}

.siteLayoutBackground {
  padding: 24px;
  min-height: 380px;
}

.siteHeader {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.siteFooter {
  text-align: center;
}
